@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

:root{
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body{
    min-height: 100vh;
}
body.dark{
    --primary-color: #000;
    --panel-color: #000;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    /* background: #0b3cc1; */
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover{
    /* background: #3A3B3C; */
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 240px;
    padding: 10px 14px;
    transition: var(--tran-05);
    background: #FFFFFF;
    box-shadow: 4px 0px 16px rgba(30, 30, 30, 0.08);
    z-index: 100;
}
nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    text-decoration: none;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
}

.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    opacity: 0.2;
}

.menu-items li a .link-name{
    font-size: 16px;
    font-weight: 400;
    color: #000000;    
    transition: var(--tran-05);
}

.menu-items #main {
    font-weight: 700;
}


nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    /* color: var(--primary-color); */
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}

.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
/* .switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
} */

.searchBar{
    width: 110vw !important;
    background: #FFFFFF;
    box-shadow: 4px 0px 16px 10px rgba(30, 30, 30, 0.08);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.dashboard{
    position: relative;
    left: 250px;
    min-height: 100vh;
    width: calc(100% - 250px);
    transition: var(--tran-05);
    z-index: 0;
}
nav.close ~ .dashboard{
    left: 70px;
    width: calc(100% - 70px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 240px;
    display: flex;
    width: calc(100% - 240px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
    box-shadow: 4px 0px 16px 10px rgba(30, 30, 30, 0.08);
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .search-box{
    position: relative;
    height: 40px;
    max-width: 100vw;
    width: 100%;
    margin: 0 30px;
}
.top .search-box input{
    position: absolute;
    border: none;
    background-color: var(--panel-color);
    padding: 0 25px 0 20px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    outline: none;
    color: #000000;
    opacity: 0.5;
}
.top .search-box i{
    position: absolute;
    left: -2.5%;
    font-size: 24px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
    opacity: 0.3;
}
.top img{
    width: 40px;
    border-radius: 50%;
}

.search-box #search-bar-side-logo{
    margin-left: 940px;
    border-radius: 0%;
    opacity: 0.9;
}

.dashboard .dash-content{
    padding-top: 50px;
}

.dash-content .container #hero {
    left: -5%;
}

/* .dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
} */
/* .dash-content .title .text{
   
    margin-left: 10px;
} */

.dash-content #list .title{
    color: #000000;
    font-size: 22px;
    opacity: 0.5;
    position: absolute;
    /* height: 30px; */
    left: 29px;
    top: 90px;
}

@media (max-width: 1000px) {
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .dash-content .boxes .box{
        width: 100% ;
    }
}
@media (max-width: 400px) {
    nav{
        width: 0px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
    nav.close ~ .dashboard .top{
        left: 0;
        width: 100%;
    }
}

.dash-content #list #companiesList {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 10px;
    margin-top: 65px !important;
}

.data {
    list-style-type: none;
    border-radius: 3px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 2r 1fr;
    grid-template-areas:
        'image company btn'
        'image website btn';
    justify-content: left;
    margin-top: 12px;
}

.data #company-name {
    grid-area: company;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 16px;
    font-weight: 700;
}

.data > p {
    grid-area: website;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #000000;
    opacity: 0.5;
    margin-left: 15px;
}

.data #profileImage {
    grid-area: image;
    max-height: 100px;
}


.data > button {
    grid-area: btn;
    font-size: small;
    border-radius: 2px;
    width: 58px;
    height: 30px;
    color:#FF6059;
    border: 1px solid #FF6059;
    cursor: pointer;
    background-color: #fff;
    margin-right: 100px;
}

.data > button:focus {
    color: #1AAB2B;
    border: 1px solid #1AAB2B;
    content: "Tracking";
}

#profileImage {
    width: 50px;
    height: 50px;
    background: #512DA8;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    padding: 8px 8px;
    border-radius:2px;
    margin-left: 10px;
  }

#searchWrapper {
    position: relative;
}

#searchWrapper::after {
    content: '';
    position: absolute;
    top: 7px;
    right: 15px;
}

#list {
    display: none;
}

#tbtn {
    display: none;
}

.icon-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links li i.arrow{
    color: #000000;
    opacity: 0.2;
}

.nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
    transition: all 0.3s ease;
}

.nav-links li a .link_name{
    transition: all 0.4s ease;
}

.nav-links li .sub-menu{
    padding-left: 45px;
    margin-top: -10px;
    display: none;
  }

  .nav-links li.showMenu .sub-menu{
    display: block;
    padding-top: 4px;
  }

  .nav-links li.showMenu .sub-menu li a{
    text-decoration: none;
    font-weight: 400;
    color: #000000;
    opacity: 0.6;
    font-size: 14px;
  }
/* 
  .float-parent-element { 
    width: 100%; 
} 
.float-child-element { 
    float: left; 
    width: 50%; 
} 


.yellow{
    float: right;
    color: #000000;
    opacity: 0.5; 
     margin-left:20vw !important;  
    width: 200px; 
    list-style: none;
    font-weight: 700;
}

.yellow li{

    padding-top: 10%;
    width: 200px;
    font-size: 15px;
}

.actions {
    color:  black;
    opacity: 1;
} */
