<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B2Brain Dashboard </title>
    {% load static %}
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>

</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="static/svgs/B2Brain.svg" alt="">
            </div>

            <span class="logo_name">B2Brain</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="#">
                    <i class="uil uil-estate"></i>
                    <span class="link-name" id="main">Dashboard</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-star"></i>
                    <span class="link-name">Intels</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-user-square"></i>
                    <span class="link-name">Leads</span>
                </a></li>
                <li>
                    <div class="icon-link">
                        <a href="#">
                            <i class="uil uil-building"></i>
                            <span class="link-name link_name">Accounts</span>
                        </a>
                      <i class='bx bxs-chevron-down arrow'></i>
                    </div>
                    <ul class="sub-menu">
                      <li><a href="#">Manage all</a></li>
                      <li><a href="#">Track new accounts</a></li>
                      <li><a href="#">Bulk Import</a></li>
                    </ul>
                  </li>
                <li>
                    <div class="icon-link">
                        <a href="#">
                            <i class="uil uil-setting"></i>
                            <span class="link-name link_name">Preferences</span>
                        </a>
                      <i class='bx bxs-chevron-down arrow'></i>
                    </div>
                    <ul class="sub-menu">
                      <li><a href="#">Product Focus</a></li>
                      <li><a href="#">Intel Preferences</a></li>
                      <li><a href="#">Lead Persona</a></li>
                    </ul>
                </li>
                <li><a href="#">
                    <i class="uil uil-link"></i>
                    <span class="link-name">Integrations</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-users-alt"></i>
                    <span class="link-name">Team</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-comments-alt"></i>
                    <span class="link-name">Help/Support</span>
                </a></li>
            </ul>
            
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">

            <div class="search-box">
                <i class="uil uil-search" id="sbtn"></i>
                <i class="uil uil-times" id="tbtn" onclick="ShowHeroHideList()"></i>
                <input type="text"  name="searchBar" id="searchBar"placeholder="Search by account name or website" onclick="hideHeroShowList()">
                <img id="search-bar-side-logo" src="/static/pngs/Logo.png"/>
            </div>
        </div>

        <div class="dash-content">
            <div class="container">
                <img  id="hero" src="/static/svgs/Hero.svg" alt="">
            </div>
            <div class="container grid-parent" id="list">
                <div class="float-child-element-left"> 
                    <h2 class="title-accounts">Similar accounts</h2>
                    <ul id="companiesList">
                    </ul>
                </div>


                <div class="float-child-element-right">
                    <h2 class="title title-actions">Quick Actions</h2>
                    <ul class="actionsList">
                        <li>Track new accounts</li>
                        <li>Bulk track accounts</li>
                        <li>Manage accounts</li>
                    </ul>
                </div>
            </div>


            </div>
        
        </div>
    </section>

    {% load static %}  
   <script src="{% static '/index.js' %}" type="text/javascript"></script>     
  

    <script>
    
    </script>
    
</body>
</html>
